<% if @enquiries%>
<table class="table">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Player</th>
            <th>Current Club</th>
            <th>Enquiry From</th>
            <th>Respond</th>
        </tr>
    </thead>
    <tbody>
        <% @enquiries.each_with_index do |enquiry,index|%>
            <tr>
                <td>
                    <%= index+1%>


                    </td>
                <td>
                    <%=enquiry.player.name%>
                </td>
                <td>
                    <%=enquiry.player.club.name%>
                    </td>
                    <td>
                        <%=enquiry.club.name%>
                    </td>
                    <td>
                        <% if enquiry.responded == true%>
                            RESPONDED
                    <%else%>

                        <%= link_to "Respond",respond_player_enquiry_path(enquiry.player,enquiry), class: "btn btn-success"%>
                    <%end%>
                    </td>

                    
                
            </tr>
            

        <%end%>
        </tbody>
    
</table>
<%else%>
    No deals as for now.
<%end%>
