<div class="container">
    <div class="row">
        <div class="col-md-7">
    <%= image_tag(@player.avatar.url(:medium))%>
    <% 5.times do%>
    &emsp;
    &emsp;
<%end%>
<% if clubrep_signed_in? && (current_clubrep.club != @player.club)%>
    <%= link_to "Enquire"  , new_player_enquiry_path(@player), class: 'btn btn-success'%>
    <%= link_to "Transfer" , new_player_transfer_path(@player), class: 'btn btn-success'%>
<%end%>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th><Age></th>
            <th>Position</th>
            <th>Value</th>
            <th>Club</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%=@player.name%></th>
            <th><%=@player.age%></th>
            <th><%=@player.position%></th>
            <th><%=@player.value%>M $</th>
            <th><%if @player.club %>
                <%= link_to @player.club.name , @player.club%>
            <%else%>
                -
            <%end%></th>
            <th><% if @player.status%>
                <%= @player.status %>
            <%else%>
                -
            <%end%></th>
        </tr>
        </tbody>
</table>


</br>
    <% if current_agent == @player.agent%>
        <%= render 'clubinfo'%>
    <%end%>
    <% if @player.club_id != nil%>
    <% if current_clubrep == @player.club.clubrep %>
        <%= render 'status'%>
    <%end%>
<%end%>
</div>
</div>
</div>
